<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if admin_signed_in? %>
<p>Admin is logged in - <%= current_admin.email %> </p>
<% else %>
<p>Admin is not logged in</p>
<% end %>

<% if user_signed_in? %>
<p>User is logged in - <%= current_user.email %> </p>
<% else %>
<p>User is not logged in</p>
<% end %>
